/* So far, the plan is to make the top where the toggle options are & the bottom will be for the actual roll results
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
}

button {
    /*justify-self: center;*/
    max-width: 30%;
    padding: 10px;
    border-radius: 5px;
}
.grid_container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "input input settings"
    "buttons buttons settings"
    "results results results";
}

.input {
    grid-area: input;
    background-color: blueviolet;
}

.buttons {
    grid-area: buttons;
    background-color: green;
}

.settings {
    grid-area: settings;
    background-color: brown;
}

.bottom {
    grid-area: results;
    border: 2px solid lightgrey;
    background-color: black;
    color: green;
}

p{
    font-size: 32px;
}